@model IEnumerable<KategoriyaTovara>

@{
    ViewData["Title"] = "Категории товаров";
}

<h1>Список категорий товаров</h1>

<p>
    <a asp-action="Create">Добавить новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazvanieKategorii)
            </th>
            <th>
                Количество товаров
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazvanieKategorii)
            </td>
            <td>
                @item.Tovary?.Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KategoriyaTovaraId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.KategoriyaTovaraId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.KategoriyaTovaraId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>